@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body {
  @apply dark:bg-custom-black bg-gray-200;
  @apply dark:text-white text-black;
  @apply h-full;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.win {
  --status: #538d4e;
  /* animation: bounce 1000ms ease forwards; */
  background-color: #538d4e;
  border-color: #538d4e;
}

.winAnimation {
  animation: bounce 1000ms ease forwards;
}

.correct {
  --status: #538d4e;
  /* animation: flip 250ms ease forwards; */

  /* animation: FlipIn 250ms ease-in forwards, FlipOut 250ms ease-in 250ms forwards; */
}

.present {
  --status: #b59f3b;
  /* animation: flip 500ms ease forwards; */
  /* animation: FlipIn 250ms ease-in , FlipOut 250ms ease-in 250ms forwards; */
}

.absent {
  --status: rgb(63 63 70);
  /* animation: flip 500ms ease forwards; */
  /* animation: FlipIn 250ms ease-in forwards, FlipOut 250ms ease-in 250ms forwards; */
}

@keyframes flip {
  0% {
    @apply bg-custom-black;
    @apply border-zinc-700;
    transform: rotateX(0);
  }
  45% {
    @apply bg-custom-black;
    @apply border-zinc-700;
    transform: rotateX(90deg);
  }
  55% {
    transform: rotateX(90deg);
    border-color: var(--status);
    background: var(--status);
  }
  100% {
    transform: rotateX(0);
    border-color: var(--status);
    background: var(--status);
  }
}

@keyframes bounce {
  0%,
  20% {
    transform: translateY(0);
    border-color: var(--status);
    background: var(--status);
  }
  40% {
    transform: translateY(-30px);
    border-color: var(--status);
    background: var(--status);
  }
  50% {
    transform: translateY(5px);
    border-color: var(--status);
    background: var(--status);
  }
  60% {
    transform: translateY(-15px);
    border-color: var(--status);
    background: var(--status);
  }
  80% {
    transform: translateY(2px);
    border-color: var(--status);
    background: var(--status);
  }
  100% {
    transform: translateY(0);
    border-color: var(--status);
    background: var(--status);
  }
}

@keyframes FlipIn {
  0% {
    /* @apply bg-custom-black;
    @apply border-zinc-700; */
    transform: rotateX(0);
  }
  100% {
    /* @apply bg-custom-black;
    @apply border-zinc-700; */
    transform: rotateX(-90deg);
  }
}

@keyframes FlipOut {
  0% {
    border-color: var(--status);
    background: var(--status);
    transform: rotateX(-90deg);
  }
  100% {
    border-color: var(--status);
    background: var(--status);
    transform: rotateX(0);
  }
}
