@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body {
  @apply bg-white dark:bg-custom-black;
  @apply text-black dark:text-white;
  @apply h-full;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

a {
  color: inherit;
  text-decoration: none;
}

.win {
  --status: #6aaa64;
  background-color: #6aaa64;
  border-color: #6aaa64;
  color: #fff;
}
.win-dark {
  --status: #538d4e;
  background-color: #538d4e;
  border-color: #538d4e;
  color: #fff;
}
.win-colorblind {
  --status: #f5793a;
  background-color: #f5793a;
  border-color: #f5793a;
  color: #fff;
}
.win-colorblind-dark {
  --status: #f5793a;
  background-color: #f5793a;
  border-color: #f5793a;
  color: #fff;
}

.correct {
  --status: #6aaa64;
}
.correct-dark {
  --status: #538d4e;
}
.correct-colorblind {
  --status: #f5793a;
}
.correct-colorblind-dark {
  --status: #f5793a;
}

.present {
  --status: #c9b458;
}
.present-dark {
  --status: #b59f3b;
}
.present-colorblind {
  --status: #86c0f9;
}
.present-colorblind-dark {
  --status: #86c0f9;
}

.absent {
  --status: #787c7e;
}
.absent-dark {
  --status: rgb(63 63 70);
}
.absent-colorblind {
  --status: #787c7e;
}
.absent-colorblind-dark {
  --status: rgb(63 63 70);
}

.winAnimation {
  animation: bounce 1000ms ease forwards;
}

@keyframes flip {
  0% {
    @apply bg-custom-black;
    @apply border-zinc-700;
    transform: rotateX(0);
  }
  45% {
    @apply bg-custom-black;
    @apply border-zinc-700;
    transform: rotateX(90deg);
  }
  55% {
    transform: rotateX(90deg);
    border-color: var(--status);
    background: var(--status);
  }
  100% {
    transform: rotateX(0);
    border-color: var(--status);
    background: var(--status);
  }
}

@keyframes bounce {
  0%,
  20% {
    transform: translateY(0);
    border-color: var(--status);
    background: var(--status);
  }
  40% {
    transform: translateY(-30px);
    border-color: var(--status);
    background: var(--status);
  }
  50% {
    transform: translateY(5px);
    border-color: var(--status);
    background: var(--status);
  }
  60% {
    transform: translateY(-15px);
    border-color: var(--status);
    background: var(--status);
  }
  80% {
    transform: translateY(2px);
    border-color: var(--status);
    background: var(--status);
  }
  100% {
    transform: translateY(0);
    border-color: var(--status);
    background: var(--status);
  }
}

@keyframes FlipIn {
  0% {
    /* @apply bg-custom-black;
    @apply border-zinc-700; */

    transform: rotateX(0);
  }
  100% {
    /* @apply bg-custom-black;
    @apply border-zinc-700; */

    transform: rotateX(-90deg);
  }
}

@keyframes FlipOut {
  0% {
    border-color: var(--status);
    background: var(--status);
    transform: rotateX(-90deg);
    color: #fff;
  }
  100% {
    border-color: var(--status);
    background: var(--status);
    transform: rotateX(0);
    color: #fff;
  }
}

.modal-appear {
  @apply animate-slideIn;
}
.modal-appear-active {
  @apply animate-slideIn;
}
/* .modal-enter {
  @apply animate-slideIn;
}
.modal-enter-active {
  @apply animate-slideIn;
} */
.modal-exit {
  @apply animate-slideOut;
}
.modal-exit-active {
  @apply animate-slideOut;
}

/* .alert-appear {
  opacity: 0;
  transform: scale(0.9);
}
.alert-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
} */
